<div class="wrapper_shadow">
  <div class="flash"><%= @error_message %></div>
  <div class="user_">
    <%= form_with model: @user, url: {controller: "users", action: "login"}, local: true, method: :post do |f| %>
      <div class="container_shadow">
        <h2>ログイン</h2>
        <div class="user_login_form user_new_form">
          <span><%= f.label :email, "メールアドレス" %></span>
          <%= f.email_field :email %>
        </div>
        <div class="user_login_form user_new_form">
          <span><%= f.label :password, "パスワード" %></span>
          <%= f.password_field :password %>
        </div>
        <div class="user_login_form user_edit_btn">
          <%= f.submit "ログイン" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
