<div class="room_show">
    <div class="flash">
        <%= render "shared/error", obj: @reservation %>
    </div>
    <div class="room_wrapper">
        <div class="room_show_left">
            <div class="room_show_navi">
                <div class="room_show_image">
                    <% if @room.image? %>
                        <%= image_tag @room.image.url %>
                    <% else %>
                        <%= image_tag "/assets/default.jpg" %>
                    <% end %>
                </div>
                <%= link_to("/users/#{@room.user_id}") do %>
                    <div class="room_show_navi_user">
                        <% if @user.image? %>
                            <%= image_tag @user.image.url %>
                        <% else %>
                            <%= image_tag "/assets/default_user.jpg" %>
                        <% end %>
                    </div>
                <% end %>
                <div class="room_show_navi_name">
                    <p><%= @room.name %></p>
                </div>
                <div class="room_show_navi_address">
                    <p><%= @room.address %></p>
                </div>
                <div class="room_show_introduction">
                    <p><%= @room.introduction %></p>
                </div>
            </div>
        </div>
        <%= form_tag("/reservations/#{@room.id}/create", {method: :post}) do %>
            <div class="room_show_right">
                <div class="room_show_right_price">
                    <p><%= @room.price %>　日  /  ¥</p>
                </div>
                <div class="room_show_right_form">
                    <p>開始日</p>
                    <input type="date" name="start_date">
                </div>
                <div class="room_show_right_form">
                    <p>終了日</p>
                    <input type="date" name="end_date">
                </div>
                <div class="room_show_right_form">
                    <p>人数</p>
                    <input type="text" inputmode="numeric" name="people">
                </div>
                <div class="room_show_right_btn">
                    <input type="submit" value="予約する">
                </div>
            </div>
        <% end %>
    </div>
</div>
